discord.py>=2.3.0
aiohttp>=3.8.0
python-dotenv>=1.0.0
websocket-client>=1.7.0
requests>=2.31.0
wget==3.2
pathlib==1.0.1
typing==3.7.4.3
huggingface_hub[hf_transfer]>=0.21.3
urllib3>=2.0.7
typing-extensions>=4.8.0
tqdm>=4.66.1
watchdog==6.0.0
redis>=4.0.0
pillow>=8.3.2
SQLAlchemy>=1.4.23
gunicorn>=20.1.0
pymilvus>=2.3.0
scikit-learn>=1.0.2
numpy>=1.21.0